body {
    background-color: #513b56;
}

table {
    background-color: white;
    width: 800px;
    margin: auto;
    border-spacing: 0px 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    box-shadow: 2px 2px 10px 2px black;
}

tr {
    color: black;
}

thead tr {
    color: black;
    font-weight: bold;
}

td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #56433D;
    border-left: none;
    border-right: none;
    text-align: center;
}

input {
    text-align: center;
    font-size: 14px;
    background: white;
    border: transparent;
}

input:read-only {
    border-color: transparent;
}

.deleteButton {
    background: red;
}

.editButton {
    background: blue;
}

.selectButton {
    background: green;
}

.menu {

    margin: auto;
    background-color: transparent;

    width: 50%;

}

.btn {

    color: white;
    transform: scale(1.1);
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}



.custombtn {
    text-align: center;
    font-size: 14px;
    width: 100%;
    margin: 5% auto;
    box-shadow: 2px 2px 10px 2px black;

}

