body {
    background-color: #858585;
}

table {
    background-color: white;
    width: 800px;
    margin: auto;
    border-spacing: 0px 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    box-shadow: 2px 2px 10px 2px black;
}

tr {
    color: black;

}

thead tr {
    color: black;
    font-weight: bold;
}

td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #56433D;
    border-left: none;
    border-right: none;
    text-align: center;

}

input {
    text-align: center;
    font-size: 14px;
    background: white;
    border: transparent;
}

input:read-only {
    border-color: transparent;
    background: transparent;
}

.menu {

    margin: auto;
    background-color: transparent;


    width: 30%;

}

.btn {
    text-align: center;
    font-size: 14px;
    width: 100%;
    margin: 5% auto;
    box-shadow: 2px 2px 10px 2px black;

}


#wrap{
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 0.725);
    z-index: 100;
    overflow: auto;
}

#window{
    width: 400px;
    height: 400px;
    margin: 50px auto;
    display: none;
    background: #fff;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
}

.close{
    margin-left: 364px;
    margin-top: 4px;
    cursor: pointer;
}






