<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="lustran-container">
    <article class="order">
        <header class="order-header">
            <div class="order-id">заказ<span>0001</span></div>
            <div class="order-basket">13</div>
            <a href="#order-add" class="btn btn-sm order-add"><i class="fa fa-plus-circle"
                                                                 aria-hidden="true"></i></a>
        </header>
        <section class="order-body">
            <ul class="order-list">
                <li class="order-list-item">
                    <header class="order-list-item-header"><span class="badge badge-pur">2</span><span
                            class="order-date sep-dot">11.12.16</span><span
                            class="order-name sep-dot">Название товара</span><span
                            class="order-count sep-dot"><i>1</i> шт</span><span class="order-float-date">16.12.16</span>
                        <a href="#" class="btn btn-success btn-xs" data-toggle="open-log">История действий</a><a
                                href="#" class="remove-order-status" data-toggle="remove-order"
                                data-toggle="remove-order"></a></header>
                    <div class="container-fluid">
                        <ul class="order-status-list row">


                            <li class="col-sm-2">
                                <div class="order-status">
                                    <div class="order-status-body">
                                        <div class="status-top"><span class="status">Дозвон</span><span
                                                class="status-date">12.12.16</span></div>
                                        <div class="status-bottom"><span>Фамилия Имя Отчество</span></div>
                                    </div>
                                    <a href="#" class="order-status-edit"></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </section>


    </article>
</div>

</body>
</html>
<!--

$.each(order.products, function (productKey, product) {

output +='<section class="order-body">' +
    '<ul class="order-list">';


        output += '<li class="order-list-item">' +



            '<header class="order-list-item-header"><span class="badge badge-pur">2</span>' +
                '<span class="order-date sep-dot">11.12.16</span><span class="order-name sep-dot">Название товара</span>' +
                '<span class="order-count sep-dot"><i>1</i> шт</span> <span class="order-float-date">16.12.16</span>' +
                '<a href="#" class="btn btn-success btn-xs" data-toggle="open-log">История действий</a>' +
                '<a href="#" class="remove-order-status" data-toggle="remove-order"></a></header>' +
            '<div class="container-fluid">' +
                '<ul class="order-status-list row>';

           // $.each(product.actualStatus, function (statusKey, statusValue){
                output +=
                '<li class="col-sm-2">' +
                '<div class="order-status">' +
                    '<div class="order-status-body">' +
                        '<div class="status-top"><span class="status">Дозвон</span><span' +
                            'class="status-date">12.12.16</span></div>' +
                        '<div class="status-bottom"><span>Фамилия Имя Отчество</span></div>' +
                        '</div>' +
                    '<a href="#" class="order-status-edit"></a>' +
                    '</div>' +
                '</li>'
        //  });

        output +='</ul>' +
    '</div>' +
    '</li>' +
    '</ul>' +
    '</section>';

});
-->

<!--

                     '<li class="col-sm-2">' +
                               '<div class="order-status status-danger"> ' +
                               '<div class="order-status-body">' +
                               '<div class="status-top"><span class="status">Не обработан</span><span' +
                               'class="status-date">12.12.16</span></div>' +
                               '<div class="status-bottom"><span>Фамилия Имя Отчество</span></div>' +
                               '</div>' +
                               '<a href="#" class="order-status-edit"></a>' +
                               '</div>' +
                               '</li>' +

                               '<li class="col-sm-2">' +
                               '<div class="order-status status-null">' +
                               '<div class="order-status-body">' +
                               '<div class="status-top"><span class="status">--.--.--</span><span' +
                               'class="status-date"></span></div>' +
                               '<div class="status-bottom"><span class="edit">Уточнить дату</span></div>' +
                               '</div>' +
                               '<a href="#" class="order-status-edit"></a>' +
                               '</div>' +
                               '</li>' +

                               '<li class="col-sm-2">' +
                               '<div class="order-status status-null">' +
                               '<div class="order-status-body">' +
                               '<div class="status-top"><span class="status">Не Заказан</span><span' +
                               ' class="status-date"></span></div>' +
                               '<div class="status-bottom"><span class="edit">Изменить статус</span>' +
                               '</div>' +
                               '</div>' +
                               '<a href="#" class="order-status-edit"></a>' +
                               '</div>' +
                               '</li>' +

                               '<li class="col-sm-2">' +
                               '<div class="order-status status-null">' +
                               '<div class="order-status-body status-null">' +
                               '<div class="status-top"><span class="status">Отсутствует</span><span' +
                               'class="status-date"></span></div>' +
                               '<div class="status-bottom"><span class="edit">Изменить статус</span>' +
                               '</div>' +
                               '</div>' +
                               '<a href="#" class="order-status-edit"></a>' +
                               '</div>' +
                               '</li>' +-->