body {
    background-color: #513b56;
    /*background-color: #858585;*/
}

input {
    text-align: center;
    font-size: 14px;
}

input:read-only {
    border-color: transparent;
}

.parent{
    background: transparent;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.menu {

    margin: auto;
    background-color: transparent;
    position: absolute;
    top: 33%;
    left: 33%;
    width: 30%;

}

.btn {
  /*  display: inline-block;
    vertical-align: middle;
    text-align: center;*/
    width: 100%;
    height: 10%;
/*    color: black;
    background: yellow;*/
/*    transform: scale(1.1);*/
    box-shadow: 2px 2px 10px 2px black;

}

/*.btn:hover {
    color: yellow;
    background: blue;
    transform: scale(1.1);

}*/


